



body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #031321;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
}





.type{
    white-space: normal;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 50px;
    overflow: hidden;
    transition: 0.5s;
}

.glow{
    text-align: center;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #2196f3;
    background: #031321;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


.glow:before{
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: 2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}


.glow:active{
    color: #000;
}

.glow:active:after{
    background: transparent;
}


.glow:hover:before{
    opacity: 1;
}

.glow:after{
    z-index: -1;
    content: '';
    position: abosolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}


@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}